<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link href="//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/field.css' %}">
</head>
<body>
  <div class="list">
      <h1><a href="/">History</a></h1>
  </div>
  {% for thing in options %}
    <li> {{ thing.name }}</li>
     {{ thing.pub_date }}
  {% endfor %}
</body>
</html>
